[user]
  name = Konstantin G
  email = konstunn@users.noreply.github.com
[core]
  editor = /usr/bin/vi
  pager = less -x4
  autocrlf = input
[push] 
  default = current  #
[diff]
  tool = vimdiff
[alias]
  d = diff
  ds = diff --staged
  st = status
  l = log
  lp = log -p
  rl = reflog
  pl = pull
  a = add
  ap = add -p
  ch = checkout
  f = fetch
  chp = checkout -p
  br = branch
  chb = checkout -b
  cm = commit
  cmm = commit -m
  commit-no-verify = commit --no-verify
  push-skip-ci = push -o ci.skip
[blame]
  coloring = highlightRecent

[include]
  path = ~/.gitconfig-private
